<%- include('header.ejs') %>
<body>
   
    <div class="container">
       
        <a href="/blog/new" class="cent btn btn-outline-light btn-lg mb-4">Start Writing...</a>


        <% articles.forEach(article => { %>
            <div class="card rounded m-4 bg-body-secondary">
              <div class="card-body">
                <h4 class="card-title fst-italic title"><%= article.title %></h4>
                <div class="card-subtitle text-muted mb-4">
                  Written on <%= article.date.toLocaleDateString() %> at <%= article.date.toLocaleTimeString() %>
                </div>
                
                <a href="blog/<%= article.slug %>" class="text-body-emphasis fw-bold fst-italic">Read Full Blog. . .</a>
                <form action="/blog/<%= article.id %>?_method=DELETE" method="POST" class="mt-2">
                  <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
              </div>
            </div>
          <% }) %>

    </div>
</body>
