<%- include('header.ejs') %>
<body>
   <div class="container">
        <h1 class="fst-italic text-center" style="font-size: 80px!important;"><%= article.title %></h1>
        <div class="text-muted mb-4 text-center">
            Written on <%= article.date.toLocaleDateString() %> at <%= article.date.toLocaleTimeString() %> 
        </div>
        <div style="font-size: 35px;">
            <%- article.sanitizedHTML %>
        </div>
        <a href="/" class="btn btn-outline-secondary mt-4"><i class='bx bx-left-arrow-alt'></i>Go Back</a>
        <a href="/blog/edit/<%= article.id %>" class="btn btn-outline-primary mt-4">Edit</a>

        
   </div>
</body>
