<%- include('header.ejs') %>
<body>
   <div class="container">
        <h1 class="mb-1"><%= article.title %></h1>
        <div class="text-muted mb-2"><%= article.date.toLocaleDateString() %></div>
        <a href="/" class="btn btn-secondary">Home</a>
        <a href="/blog/edit/<%= article.id %>" class="btn btn-info">Edit</a>

        <div>
            <%- article.sanitizedHTML %>
        </div>
   </div>
</body>
